/.bash_history
/.bash_logout
/.bashrc
/.cache
/.dotnet
/.gitconfig
/.lesshst
/.local
/.motd_shown
/.profile
/.sudo_as_admin_successful
/.viminfo
/.vscode-server
/phase1
/phase2.tar.gz
/phase2.tar.gz:Zone.Identifier